@page "/"

<h1>Bienvenue sur le site du mariage de JB & Mariana ! 😊</h1>

<br />
<p>Vous souhaitez nous offrir quelque chose pour notre mariage ?</p>
<p>Nous vous proposons de participer à notre cagnotte qui nous permettra de partir en voyage de noces !</p>
<br />
<p>Voici les différents moyens de participer :</p>

<div class="accordion" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Cagnotte PayPal
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="btn" target="_blank" href="https://paypal.me/pools/c/8xwJpj5aF7">Cagnotte</a>
				<br />
				<br />
				<p>En cliquant sur le bouton, vous serez redirigés vers le site de PayPal</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				Virement bancaire
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="btn" target="_blank" href="mailto:mariagejbmariana2021@gmail.com?subject=Demande%20de%20RIB%20pour%20votre%20cagnotte&body=Salut%20!%0A%0AJ%27aimerais%20participer%20%C3%A0%20votre%20cagnotte%2C%20pouvez-vous%20m%27envoyer%20votre%20RIB%20svp%20%3F%0A%0AA%20bient%C3%B4t%20!%0A%0A%7Bsignature%7D">
					Demandez-nous notre RIB
				</a>
				<br />
				<br />
				<p>Si le bouton ne fonctionne pas, envoyer-nous un mail à l'adresse suivante : mariagejbmariana2021@gmail.com</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Chèque
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<a class="btn" target="_blank" href="mailto:mariagejbmariana2021@gmail.com?subject=Demande%20d%27adresse%20pour%20votre%20cagnotte&body=Salut%20!%0A%0AJ%27aimerais%20participer%20%C3%A0%20votre%20cagnotte%2C%20pouvez-vous%20m%27envoyer%20votre%20adresse%20postale%20svp%20%3F%0A%0AA%20bient%C3%B4t%20!%0A%0A%7Bsignature%7D">
					Demandez-nous notre adresse postale
				</a>
				<br />
				<br />
				<p>Si le bouton ne fonctionne pas, envoyer-nous un mail à l'adresse suivante : mariagejbmariana2021@gmail.com</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				Autre
			</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				Si vous souhaitez, vous pourrez nous faire parvenir votre participation le jour-J !
			</div>
		</div>
	</div>
</div>
<br />
&nbsp;
<br />
<p>Un trèèÈÈÈèès grand merci à vous ! Nous espérons nous revoir dès l'année prochaine en Colombie pour fêter ça dignement ! 😊</p>