@page "/"
@*@Program.Language*@
	<img src="icon-512.png" class="mx-auto d-block" style="max-height:20vh" />
	<br />
	<h1>Bienvenue sur le site du mariage de JB & Mariana ! 😊</h1>

	<p>
		Comme vous le savez peut-être, nous voulions initialement nous marier cet été en Colombie.
		<br />
		Le contexte sanitaire nous a fait revoir nos plans.
		<br />
		Nous avons donc décidé de nous marier civilement le <strong>samedi 29 mai 2021 à Dijon</strong> et religieusment le <strong>samedi 26 juin 2021 à 14h30</strong> à l'église St Paul à Dijon.
		<br />
		Pour anticiper le plus possible la réglementation à cette date, nous n'invitons qu'un nombre limité de personnes, qui pourra lui-même varier. Les personnes concernées seront contactées par email.
		<br />
		Voulant partager avec vous tous (et la famille de Mariana) notre joie, nous diffuserons la cérémonie en direct <a class="btn" target="_blank" href="https://www.twitch.tv/jbmerio54">ici</a>. Vous pouvez dès à présent y retrouver le replay du mariage civil.
		<br />
		De plus, nous organiserons une messe et une soirée en Colombie, lorsque le contexte sanitaire le permettra.
	</p>
	<br />